# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Mypy
.mypy_cache/

# Uploaded files
uploads/

# Alembic
*.db

# macOS
.DS_Store